@using Escolar.Models;
@model IEnumerable<Escolar.Models.CursoEstudiante>

@{
    ViewData["Title"] = "Índice de CursoEstudiantes";
}

<h1>Índice de CursoEstudiantes</h1>
@if(User.Identity.IsAuthenticated && @User.IsInRole("Administrador"))
{
<p>
    <a asp-action="Agregar">Asignar Estudiantes a cursos</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Estudiante</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if(item.Curso != null)
                    {
                        @item.Curso.Nombre
                    }
                    else
                    {
                        <span>Curso no asignado</span>
                    }
                </td>
                <td>
                    @if(item.Estudiante != null)
                    {
                        @item.Estudiante.Nombre
                    }
                    else
                    {
                        <span>Estudiante no asignado</span>
                    }
                </td>
                @if(User.Identity.IsAuthenticated && @User.IsInRole("Administrador"))
                {
               <td>
                    <a asp-action="Editar" asp-route-idEstudiante="@item.EstudianteId" asp-route-idCurso="@item.CursoId">Editar</a> |
                    <a asp-action="Delete" asp-route-idEstudiante="@item.EstudianteId" asp-route-idCurso="@item.CursoId">Eliminar</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</div>
