@using Escolar.Models;
@model IEnumerable<Escolar.Models.CursoEstudiante>

@{
    ViewData["Title"] = "Índice de CursoEstudiantes";
}

<h1>Índice de CursoEstudiantes</h1>
<p>
    <a asp-action="Agregar">Asignar Estudiantes a cursos</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Estudiante</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if(item.Curso != null)
                    {
                        @item.Curso.Nombre
                    }
                    else
                    {
                        <span>Curso no asignado</span>
                    }
                </td>
                <td>
                    @if(item.Estudiante != null)
                    {
                        @item.Estudiante.Nombre
                    }
                    else
                    {
                        <span>Estudiante no asignado</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CursoId,@item.EstudianteId">Detalles</a> |
                    <a asp-action="Edit" asp-route-id="@item.CursoId,@item.EstudianteId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.CursoId,@item.EstudianteId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</div>
